.row-fluid
  .span12
    %h1#logo
      = link_to Refinery::Core.site_name, refinery.root_path
.row-fluid
  .span12
    = render(:partial => "/refinery/menu", :locals => {:dom_id => 'menu',:css => 'menu'})
